

<%# Comment:
    Styling the header based on the url route, for more friendly UI for Phone view,URL parameter comes from theserverside which will pass the route value here. 
%>
<%  
    let colLogo;
    let colBtn;

    let align;
    let display;
    
    if(url == "/" ){
        colLogo = "col-6";
        colBtn = "col-6";
    }else{
        colLogo = "col-12";
        colBtn = ""
        align = "center";
        display = "none";
    }

%>

<section class="container-fluid header-container-fluid">
    <div class="container">
        <div class="row">
            <div class="<%= colLogo %>" style="text-align: <%= align %>" >
                <h2 class="header-name">

                    <a href="/">
                        <%= lib.app_name %>
                    </a>
                </h2>
            </div>
            <div class="<%= colBtn %> try-now-button" style="display:  <%= display %> ;">
                <div>
                    <a href="/new-call" target="_blank"><%= lib.button_try_for_free %></a>
                </div>
            </div>
        </div>
    </div>
</section>