<!DOCTYPE html>
<html lang="en">
<!-- Head: DON'T DELETE -->
<%- include ('partials/head') %>

<body class="body">
  <!-- Page Header -->
  <%- include ('partials/header') %>

  <!-- Hero Section -->
  <%- include ('partials/landing/hero') %>

  <!-- Features Section -->
  <%- include ('partials/landing/features') %>

  <!-- Video Demo Section -->
  <%- include ('partials/landing/demo') %>

  <!-- Try Now Section  -->
  <%- include ('partials/landing/try-now') %>

  <!-- Footer -->
  <%- include ('partials/footer') %>

</body>

</html>