<div class="container-fluid join-call-container-fluid-section">
    <div class="container join-call-container-block">
        <div class="row">
            <div class="col-12">
                <h1><%= lib.join_call_hero_header %></h1>

                <div class="join-call-input-wrapper">
                    <label for="input-room"><%= lib.join_call_hero_subheader %></label>
                    <input id="roomID" type="text" placeholder="Enter Call ID or personal Room Name">
                </div>

                <div class="join-call-button-wrapper">
                    <button onclick="joinRoom()"><%= lib.join_call_button %></button>
                </div>

                <!-- Alerting if the room doesn't exist in server db -->
                <div class="join-call-alert-wrapper">
                    <h4><%= lib.join_call_alerting_main %></h4>
                    <a><%= lib.join_call_alerting_secondary %></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function joinRoom() {
        let roomID = document.getElementById("roomID").value;
        if (roomID.length > 6) {
            window.location = `/meeting-room/${roomID}`;
        } else {
            alert("Please enter a unique id more than 6 digits number.")
        }
    }
</script>